<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<section id="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Website ini dibuat untuk menyelesaikan tugas akhir mata kuliah Pemrograman Lanjut</p>
                <p class="h6">&copy All right Reversed. Kelompok C4</p>
            </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->
</body>
</html>