<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-signin-client_id" content="961550789227-laiqbepgmtmgn6ebftoa1c48eofrb95k.apps.googleusercontent.com">
    <th:block th:include="fragments/head :: headFragment"></th:block>

    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">-->
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

    <title>Checkout - E-ndomie</title>
    <link rel="stylesheet" th:href="@{/css/checkout.css}">

</head>

<!--navbar-->
<div lang="en" th:replace="fragments/navbar :: navbar"> </div>

<body style="">
<div class="py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 py-4">Your Order Has Been Placed!</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-0" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">Will be delivered to:<br></h3>
            </div>
        </div>
    </div>
</div>
<div class="py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="">Alamat goes here nih jalan santausa raya indonesia raya</h4>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <h1 class="display-3 py-2" contenteditable="true">Order Lists</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="" class="">Quantity<br></th>
                            <th>Menu</th>
                            <th>Harga</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="">1</td>
                            <td style="">Mark</td>
                            <td style="">Otto</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">Thankyou!</h1>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-- Footer -->
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>