<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-signin-client_id" content="961550789227-laiqbepgmtmgn6ebftoa1c48eofrb95k.apps.googleusercontent.com">
    <th:block th:include="fragments/head :: headFragment"></th:block>
    <title>Title</title>
    <script th:src="@{/js/diy.js}"></script>
</head>
<body>
<!--navbar-->
<div lang="en" th:replace="fragments/navbar :: navbar"> </div>

<!--jumbotron-->
<div class="jumbotron jumbotron-fluid" style="background-image:url('https://images.unsplash.com/photo-1447279506476-3faec8071eee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); width: 100%; height: 100%">
    <div class="container">
        <h1 class="display-4" style="color: white; font-weight: bold;">Do It Yourself!</h1>
    </div>
</div>

<h1>Pilih varian Indomie</h1>
<br>
<div class = "menu-container">
    <h1>Pilih varian Indomie</h1>
    <hr>
    <br>
        <div id = "indomieJson"></div>
</div>

<div class="topping-container">
    <h1>Tambahkan Topping Sesuai Selera</h1>
    <hr>
    <br>
    <div id = "toppingJson"></div>
</div>
<div class="diy-container">
    <h3>Indomie Kreasimu</h3>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-9" id="indomie-menu"></div>
        <div class="col-sm-1">Rp</div>
        <div class="col-sm-2" id="priceTotal">0,00</div>
    </div>
    <div id="submitButton"><button class='submitButton'>Add to Cart</button></div>
</div>

<div lang="en" th:replace="fragments/footer :: footer"> </div>

</body>
</html>
